:root {
    --text-dark: #333;
    --text-light: #555;
    --bg-light: #ffffff;
    --footer-bg: #B4A6A6;
    --footer-bottom-bg: #453D3D;
    --font-primary: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}


body {
    font-family: var(--font-primary);
    color: var(--text-dark);
    background-color: var(--bg-light);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: var(--bg-light);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
}

.desktop-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.desktop-nav a {
    text-decoration: none;
    color: var(--text-dark);
    font-size: 1rem;
    font-weight: 500;
}

.desktop-nav .current{
    color: #B4A6A6;
}

.mobile-logo, .hamburger-menu, .mobile-nav {
    display: none;
}

.feature-section {
    padding: 80px 0;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.feature-section.reversed .content-container {
    flex-direction: row-reverse;
}

.image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}


.mascot-image {
    max-width: 350px;
}

.text-wrapper-feature-section {
    flex: 1;
    max-width: 500px;
    text-align: right;
}

.text-wrapper-feature-section h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.text-wrapper-feature-section h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.text-wrapper-feature-section h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-light);
}

.text-wrapper-feature-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--text-light);
}
.text-wrapper-band-section {
    flex: 2;
    max-width: 600px;
    text-align: left;
}

.text-wrapper-band-section h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.text-wrapper-band-section h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.text-wrapper-band-section h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-light);
}

.text-wrapper-band-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--text-light);
}

.text-wrapper-app-section {
    flex: 2;
    max-width: 600px;
    text-align: right;
}

.text-wrapper-app-section h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.text-wrapper-app-section h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.text-wrapper-app-section h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-light);
}

.text-wrapper-app-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--text-light);
}

footer {
    color: var(--text-dark);
}

.footer-main {
    background-color: var(--footer-bg);
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    padding: 0 20px;
}

.footer-column h4 {
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-column p {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-column.social-column a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    text-decoration: none;
    color: var(--text-dark);
    margin-bottom: 15px;
    text-align: right;
}

.footer-column.social-column i {
    font-size: 1.5rem;
    color: var(--text-dark);
    border: 2px solid var(--text-dark);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer-bottom {
    background-color: var(--footer-bottom-bg);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}

@media (max-width: 900px) {
    .content-container {
        flex-direction: column;
        text-align: center;
    }

    .feature-section.reversed .content-container {
        flex-direction: column;
    }

    .text-wrapper {
        margin-top: 40px;
    }

    .text-wrapper-feature-section{
        text-align: center;
    }
    .text-wrapper-band-section{
        text-align: center;
    }
    .text-wrapper-app-section{
        text-align: center;
    }
    
    .footer-main {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .footer-column{
        width: 100%;
        max-width: none;
    }

    .footer-column p, .footer-column.social-column a {
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
        flex-direction: row;
    }
    .footer-column.social-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     .footer-column.social-column a {
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
    }
    .footer-column.social-column a span {
        display: none;
    }
}


@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
    }
    
    .mobile-logo-icon {
        width: 40px;
        height: 40px;
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
    }

    .hamburger-menu .bar {
        width: 30px;
        height: 3px;
        background-color: var(--text-dark);
        border-radius: 5px;
        transition: all 0.3s linear;
    }
    
    .mobile-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg-light);
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    
    .mobile-nav.active {
        display: block;
    }

    .mobile-nav ul {
        list-style: none;
        flex-direction: column;
        width: 100%;
    }

    .mobile-nav li {
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    .mobile-nav a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: var(--text-dark);
        font-weight: 500;
    }

    .text-wrapper h1 { font-size: 3.5rem; }
    .text-wrapper h2 { font-size: 2rem; }
    .text-wrapper h3 { font-size: 1.1rem; }
    .text-wrapper p { font-size: 1rem; }
    
    .mascot-image {
        max-width: 250px;
    }
    
    .footer-main {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    .footer-column {
        width: 100%;
        max-width: none;
    }
    .footer-column p {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
    .footer-column.social-column {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-column.social-column a {
        flex-direction: row;
        gap: 0px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
    }
}